* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.taskManager {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 25px;
    border: 1px solid #000000;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 16px;
    margin: 12px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

#agregarTarea {
    background-color: #3ABD49;
}

#btnLimpiar {
    background-color: #7994eb;
}

button:hover {
    opacity: 0.9;
}

#mensajeError {
    color: red;
    font-size: 14px;
    min-height: 18px;
}

.contador {
    margin-bottom: 20px;
    font-weight: bold;
}

#listaTareas {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tarea {
    border: 1px solid #000000;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 16px;
    margin: 12px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.tarea p {
  margin: 0;
  flex: 1;
  text-align: left;
}

.botonesTarea {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.hecha {
    border: 1px solid #208339;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: #b7ebbb;
}

.hecha p {
    text-decoration: line-through;
    opacity: 0.7;
}

.urgente {
    border: 2px solid red;
    background-color: #ffe5e5;
}

.botonesTarea {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}